{% load socialaccount %}
{#Template from https://www.w3schools.com/w3css/w3css_templates.asp#}
{#Searchbox from https://www.igniteui.com/combo/selection-and-checkboxes#}
{% block content %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Mailbox</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

.parent {
    width: 100%;
    text-align: left;
}

.child {
  display: inline-block;
}
.email-card {
    width: 90%;
    margin: 0 auto 1em;
    display: block;
    alignment: center;

        }

.email-title {
            display: block;
            width: 100%;
        }
</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non-blocking Alert</title>
    <style>
        .message-container {
            position: fixed;
            top: 20px;
            left: 50%;
            z-index: 9999;
            font-size: 16px;
            transform: translateX(-50%);
        }

        .message {
            background-color: teal;
            color: white;
            padding: 10px 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            display: inline-block;
        }
    </style>

</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a class="w3-bar-item w3-hide-small">Welcome {{ user.username }}! (Admin)</a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>
        {%  else %}
            <a class="w3-bar-item w3-hide-small">Welcome {{ user.username }}!</a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>
        {% endif %}
    {%  else %}
            <a href="{% provider_login_url 'google'%}?next=/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login with Google</a>
    {% endif %}
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'allCourses' %}">All Courses</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'search_results' %}">Course Search</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'course_filter' %}">Filter</a>
  {% if user.is_superuser %}
      <h4 class="w3-bar-item"><b>Admin Menu</b></h4>
      <a class="w3-bar-item w3-button w3-hover-black" href="{%url 'addEquivCoursePage'%}">Add a Course Equivalency</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'mailBox' %}">Admin Mail</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{%url 'change_user_status'%}">Change User Status</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{%url 'pendingRequests'%}">Handle Requests</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'update' 0 1 0%}">Update SIS Database</a>
  {% else %}
      {% if user.is_authenticated %}
          <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'sendEmail' %}">Email the Admins</a>
          <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'student_request' %}">Equivalency Request Form</a>
          <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'mailBox' %}">Mailbox</a>
      {% endif %}
  {% endif %}

{#  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>#}
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:260px; width: 100%">

    <link href="http://cdn-na.infragistics.com/igniteui/2022.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2022.2/latest/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI for jQuery Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2022.2/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2022.2/latest/js/infragistics.lob.js"></script>

    <br>
    <br>
    <div class=".ui-widget-overlay"></div>

<div class="message-container" id="messageContainer" style="justify-content: center">
        <!-- The message will be added here -->
    </div>

    <script>
        function showSuccessMessage(message, duration = 3000) {
            const messageContainer = document.getElementById('messageContainer');

            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.textContent = message;
            messageContainer.appendChild(messageElement);

            setTimeout(() => {
                messageElement.remove();
            }, duration);
        }

        window.addEventListener('DOMContentLoaded', (event) => {
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    showSuccessMessage("{{ message }}", 5000);
                {% endif %}
            {% endfor %}
        });

    </script>


<h2>Your Mailbox</h2>
<div class="container">
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h3>Emails from Students</h3>
            <div class="w3-row">
                <div class="w3-col m3">
                    <h4 class="w3-center">Unread Emails</h4>
                    {% for request in requests %}
                        {% if request.status == 'Unread' and request.for_admins == 'True' %}
                            <div class="w3-card w3-container w3-margin email-card email-card-container">
                                <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('email-{{ request.id }}')">{{ request.title }} from {{ request.studentName }}</h5>
                                <div id="email-{{ request.id }}" class="w3-modal course-modal">
                                    <div class="w3-modal-content w3-animate-top">
                                        <header class="w3-container w3-theme">
                                            <span onclick="document.getElementById('email-{{ request.id }}').style.display='none'"
                                                class="w3-button w3-display-topright">&times;</span>
                                            <h5>{{ request.title }} from {{ request.studentName }}</h5>
                                        </header>
                                        <div class="w3-container">
                                            <p><b>Student Email:</b> {{ request.studentEmail }}</p>
                                            <p><b>Student Name:</b> {{ request.studentName }}</p>
                                            <p><b>Email Title:</b> {{ request.title }}</p>
                                            <p><b>Sent At: </b>{{ request.send_time }}</p>
                                            <p><b>Email Content:</b> {{ request.content }}</p>
                                            <form action="{% url 'update_email_status' request.id 0 0 %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="status" value="Read">
                                                <button type="submit" class="w3-button w3-theme">Mark as Read</button>
                                                <br>
                                                <br>
                                            </form>
                                            <form action="{% url 'send_reply' request.id 0 0 %}" method="POST">
                                                        {% csrf_token %}
                                                        <label for="reply_content">Reply:</label>
                                                        <textarea name="reply_content" id="reply_content" class="w3-input w3-border" rows="4" required></textarea>
                                                        <br>
                                                        <button type="submit" class="w3-button w3-theme">Send Reply</button>
                                                    </form>
                                                    <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="w3-col m3">
                    <h4 class="w3-center">Read Emails</h4>
                    {% for request in requests %}
                        {% if request.status == 'Read' and request.for_admins == 'True' %}
                            <div class="w3-card w3-container w3-margin email-card email-card-container">
                                <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('email-{{ request.id }}')">{{ request.title }} from {{ request.studentName }}</h5>
                                <div id="email-{{ request.id }}" class="w3-modal course-modal">
                                    <div class="w3-modal-content w3-animate-top">
                                        <header class="w3-container w3-theme">
                                            <span onclick="document.getElementById('email-{{ request.id }}').style.display='none'"
                                                class="w3-button w3-display-topright">&times;</span>
                                            <h5>{{ request.title }} from {{ request.studentName }}</h5>
                                        </header>
                                        <div class="w3-container">
                                            <p><b>Student Email:</b> {{ request.studentEmail }}</p>
                                            <p><b>Student Name:</b> {{ request.studentName }}</p>
                                            <p><b>Email Title:</b> {{ request.title }}</p>
                                            <p><b>Sent At: </b>{{ request.send_time }}</p>
                                            <p><b>Email Content:</b> {{ request.content }}</p>
                                            <form action="{% url 'update_email_status' request.id 0 0 %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="status" value="Unread">
                                                <button type="submit" class="w3-button w3-theme">Mark as Unread</button>
                                                <br>
                                                <br>
                                            </form>
                                            <form action="{% url 'send_reply' request.id 0 0 %}" method="POST">
                                                        {% csrf_token %}
                                                        <label for="reply_content">Reply:</label>
                                                        <textarea name="reply_content" id="reply_content" class="w3-input w3-border" rows="4" required></textarea>
                                                        <br>
                                                        <button type="submit" class="w3-button w3-theme">Send Reply</button>
                                                    </form>
                                                    <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h3>Emails From Admins</h3>
                <div class="w3-row">
                    <div class="w3-col m3">
                        <h4 class="w3-center">Unread Emails</h4>
                        {% for request in Autos %}
                            {% if request.studentEmail == user.email %}
                                {% if request.status == 'Unread' %}
                                    <div class="w3-card w3-container w3-margin email-card email-card-container">
                                        <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('email-{{ request.id }}')">{{ request.title }}</h5>
                                        <div id="email-{{ request.id }}" class="w3-modal course-modal">
                                            <div class="w3-modal-content w3-animate-top">
                                                <header class="w3-container w3-theme">
                                                    <span onclick="document.getElementById('email-{{ request.id }}').style.display='none'"
                                                        class="w3-button w3-display-topright">&times;</span>
                                                    <h5>{{ request.title }} from {{ request.studentName }}</h5>
                                                </header>
                                                <div class="w3-container">
                                                    <p><b>Email Title:</b> {{ request.title }}</p>
                                                    <p><b>Sent At: </b>{{ request.send_time }}</p>
                                                    <p><b>Email Content:</b> {{ request.content }}</p>
                                                    <form action="{% url 'update_email_status' request.id 1 1 %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="status" value="Read">
                                                        <button type="submit" class="w3-button w3-theme">Mark as Read</button>
                                                        <br>
                                                        <br>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for request in requests %}
                            {% if request.studentEmail == user.email %}
                                {% if request.status == 'Unread' and request.for_admins == 'False' %}
                                    <div class="w3-card w3-container w3-margin email-card email-card-container">
                                        <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('email-{{ request.id }}')">{{ request.title }}</h5>
                                        <div id="email-{{ request.id }}" class="w3-modal course-modal">
                                            <div class="w3-modal-content w3-animate-top">
                                                <header class="w3-container w3-theme">
                                                    <span onclick="document.getElementById('email-{{ request.id }}').style.display='none'"
                                                        class="w3-button w3-display-topright">&times;</span>
                                                    <h5>{{ request.title }} from {{ request.studentName }}</h5>
                                                </header>
                                                <div class="w3-container">
                                                    <p><b>Email Title:</b> {{ request.title }}</p>
                                                    <p><b>Sent At: </b>{{ request.send_time }}</p>
                                                    <p><b>Email Content:</b> {{ request.content }}</p>
                                                    <form action="{% url 'update_email_status' request.id 0 1 %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="status" value="Read">
                                                        <button type="submit" class="w3-button w3-theme">Mark as Read</button>
                                                        <br>
                                                        <br>
                                                    </form>
                                                    <form action="{% url 'send_reply' request.id 0 1 %}" method="POST">
                                                        {% csrf_token %}
                                                        <label for="reply_content">Reply:</label>
                                                        <textarea name="reply_content" id="reply_content" class="w3-input w3-border" rows="4" required></textarea>
                                                        <br>
                                                        <button type="submit" class="w3-button w3-theme">Send Reply</button>
                                                    </form>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="w3-col m3">
                        <h4 class="w3-center">Read Emails</h4>
                        {% for request in Autos %}
                            {% if request.studentEmail == user.email %}
                                {% if request.status == 'Read' %}
                                    <div class="w3-card w3-container w3-margin email-card email-card-container">
                                        <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('email-{{ request.id }}')">{{ request.title }}</h5>
                                        <div id="email-{{ request.id }}" class="w3-modal course-modal">
                                            <div class="w3-modal-content w3-animate-top">
                                                <header class="w3-container w3-theme">
                                                    <span onclick="document.getElementById('email-{{ request.id }}').style.display='none'"
                                                        class="w3-button w3-display-topright">&times;</span>
                                                    <h5>{{ request.title }} from {{ request.studentName }}</h5>
                                                </header>
                                                <div class="w3-container">
                                                    <p><b>Email Title:</b> {{ request.title }}</p>
                                                    <p><b>Sent At: </b>{{ request.send_time }}</p>
                                                    <p><b>Email Content:</b> {{ request.content }}</p>
                                                    <form action="{% url 'update_email_status' request.id 1 0%}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="status" value="Unread">
                                                        <button type="submit" class="w3-button w3-theme">Mark as Unread</button>
                                                        <br>
                                                        <br>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for request in requests %}
                            {% if request.studentEmail == user.email %}
                                {% if request.status == 'Read' and request.for_admins == 'False'%}
                                    <div class="w3-card w3-container w3-margin email-card email-card-container">
                                        <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('email-{{ request.id }}')">{{ request.title }}</h5>
                                        <div id="email-{{ request.id }}" class="w3-modal course-modal">
                                            <div class="w3-modal-content w3-animate-top">
                                                <header class="w3-container w3-theme">
                                                    <span onclick="document.getElementById('email-{{ request.id }}').style.display='none'"
                                                        class="w3-button w3-display-topright">&times;</span>
                                                    <h5>{{ request.title }} from {{ request.studentName }}</h5>
                                                </header>
                                                <div class="w3-container">
                                                    <p><b>Email Title:</b> {{ request.title }}</p>
                                                    <p><b>Sent At: </b>{{ request.send_time }}</p>
                                                    <p><b>Email Content:</b> {{ request.content }}</p>
                                                    <form action="{% url 'update_email_status' request.id 0 1 %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="status" value="Unread">
                                                        <button type="submit" class="w3-button w3-theme">Mark as Unread</button>
                                                        <br>
                                                        <br>
                                                    </form>
                                                    <form action="{% url 'send_reply' request.id 0 1 %}" method="POST">
                                                        {% csrf_token %}
                                                        <label for="reply_content">Reply:</label>
                                                        <textarea name="reply_content" id="reply_content" class="w3-input w3-border" rows="4" required></textarea>
                                                        <br>
                                                        <button type="submit" class="w3-button w3-theme">Send Reply</button>
                                                    </form>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                </div>
        {% endif %}
        {% else %}
        <script>
        window.onload = function() {
            setTimeout(function() {
                window.location.href = '/';
            }, 1); // Redirects after 1 millisecond
        };
    </script>
    {% endif %}
</div>


<script>
  function openModal(modalId) {
    document.getElementById(modalId).style.display = "block";
  }

  var modals = document.getElementsByClassName("course-modal");

  for (var i = 0; i < modals.length; i++) {
    modals[i].addEventListener("click", function(event) {
      if (event.target.classList.contains("w3-modal")) {
        event.target.style.display = "none";
      }
    });
  }
</script>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>

{% endblock content %}