{% load socialaccount %}
{#Template from https://www.w3schools.com/w3css/w3css_templates.asp#}
{#Searchbox from https://www.igniteui.com/combo/selection-and-checkboxes#}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Course Filter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

.parent {
  width: 100%;
  text-align: left;
  margin-left:260px;

}

.child {
  display: inline-block;
}
.email-card {
    width: 90%;
    margin: 0 auto 1em;
    display: block;
    alignment: center;

        }

.email-title {
            display: block;
            width: 100%;
        }
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non-blocking Alert</title>
    <style>
        .message-container {
            position: fixed;
            top: 20px;
            left: 50%;
            z-index: 9999;
            font-size: 16px;
            transform: translateX(-50%);
        }

        .message {
            background-color: teal;
            color: white;
            padding: 10px 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            display: inline-block;
        }
    </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a class="w3-bar-item w3-hide-small">Welcome {{ user.username }}! (Admin)</a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>
        {%  else %}
            <a class="w3-bar-item w3-hide-small">Welcome {{ user.username }}!</a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>
        {% endif %}
    {%  else %}
            <a href="{% provider_login_url 'google'%}?next=/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login with Google</a>
    {% endif %}
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'allCourses' %}">All Courses</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'search_results' %}">Course Search</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'course_filter' %}">Filter</a>
  {% if user.is_superuser %}
      <h4 class="w3-bar-item"><b>Admin Menu</b></h4>
      <a class="w3-bar-item w3-button w3-hover-black" href="{%url 'addEquivCoursePage'%}">Add a Course Equivalency</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'mailBox' %}">Admin Mail</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{%url 'change_user_status'%}">Change User Status</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{%url 'pendingRequests'%}">Handle Requests</a>
      <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'update' 0 1 0%}">Update SIS Database</a>
  {% else %}
      {% if user.is_authenticated %}
          <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'sendEmail' %}">Email the Admins</a>
          <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'student_request' %}">Equivalency Request Form</a>
          <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'mailBox' %}">Mailbox</a>
      {% endif %}
  {% endif %}

{#  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>#}
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:260px">

    <link href="http://cdn-na.infragistics.com/igniteui/2022.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2022.2/latest/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI for jQuery Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2022.2/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2022.2/latest/js/infragistics.lob.js"></script>

    <br>
    <br>

    <style>
        .combo-label {margin-bottom:.5em;}
    </style>
    <br />
    <div class=".ui-widget-overlay"></div>


</div>


<div class="w3-main">

<div class="parent" style="width: 100%; margin-left:260px; display: inline-block">
{% if user.is_superuser and user.is_authenticated %}
    <h2>Pending Requests</h2>
    <div class="w3-row-padding">
        <div class="w3-col m3">
            <h4 class="w3-center">Pending</h4>
            {% for request in requests %}
                {% if request.status == "Pending" %}
                    <div class="w3-card w3-container w3-margin w3-padding email-card email-card-container">
                        <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('request-{{ request.id }}')">Request for: {{ request.courseSubject }} {{ request.courseNumber }} by {{ request.studentName }}</h5>
                        <div id="request-{{ request.id }}" class="w3-modal course-modal">
                            <div class="w3-modal-content w3-animate-top">
                                <header class="w3-container w3-theme">
                                    <span onclick="document.getElementById('request-{{ request.id }}').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h5>Course: {{ request.courseSubject }}, {{ request.courseNumber }}, {{ request.courseName }}</h5>
                                </header>
                                <div class="w3-container">
                                    <p><b>University (Long, Short):</b> {{ request.university }}, {{ request.universityShort }}</p>
                                    <p><b>Course Subject: </b>{{ request.courseSubject }}</p>
                                    <p><b>Course Number: </b>{{ request.courseNumber }}</p>
                                    <p><b>Course Name: </b>{{ request.courseName }}</p>
                                    <p><b>Requestor Name: </b>{{ request.studentName }}</p>
                                    <p><b>Requestor Email: </b>{{ request.studentEmail }}</p>
                                    <p><b>Status:</b> {{ request.status }}</p>
                                    <form action="{% url 'pendingRequests' %}" method="GET">
                                        <label for="status">Change Status: </label>
                                        <select class="w3-button w3-theme w3-hover-black" name="status" id="status">
                                            <option value="Pending">Pending</option>
                                            <option value="Rejected">Rejected</option>
                                            <option value="Accepted">Accepted</option>
                                        </select>
                                        <br><br>
                                        <input type="hidden" name="request_courseSubject" value="{{ request.courseSubject }}">
                                        <input type="hidden" name="request_courseNumber" value="{{ request.courseNumber }}">
                                        <input type="hidden" name="request_courseName" value="{{ request.courseName }}">
                                        <input type="hidden" name="request_University" value="{{ request.university }}">
                                        <input type="hidden" name="request.studentEmail" value="{{ request.studentEmail }}">
                                        <input type="hidden" name="request_id" value="{{ request.id }}">
                                        <input type="submit" value="Submit" class="w3-button w3-theme">
                                        <br>
                                        <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="w3-col m3">
            <h4 class="w3-center">Accepted</h4>
            {% for request in requests %}
                {% if request.status == "Accepted" %}
                    <div class="w3-card w3-container w3-margin w3-padding email-card email-card-container">
                        <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('request-{{ request.id }}')">Request for: {{ request.courseSubject }} {{ request.courseNumber }} by {{ request.studentName }}</h5>
                        <div id="request-{{ request.id }}" class="w3-modal course-modal">
                            <div class="w3-modal-content w3-animate-top">
                                <header class="w3-container w3-theme">
                                    <span onclick="document.getElementById('request-{{ request.id }}').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h5>Course: {{ request.courseSubject }}, {{ request.courseNumber }}, {{ request.courseName }}</h5>
                                </header>
                                <div class="w3-container">
                                    <p><b>University (Long, Short):</b> {{ request.university }}, {{ request.universityShort }}</p>
                                    <p><b>Course Subject: </b>{{ request.courseSubject }}</p>
                                    <p><b>Course Number: </b>{{ request.courseNumber }}</p>
                                    <p><b>Course Name: </b>{{ request.courseName }}</p>
                                    <p><b>Requestor Name: </b>{{ request.studentName }}</p>
                                    <p><b>Requestor Email: </b>{{ request.studentEmail }}</p>
                                    <p><b>Status:</b> {{ request.status }}</p>
                                    <form action="{% url 'pendingRequests' %}" method="GET">
                                        <label for="status">Change Status: </label>
                                        <select class="w3-button w3-theme w3-hover-black" name="status" id="status">
                                            <option value="Pending">Pending</option>
                                            <option value="Rejected">Rejected</option>
                                            <option value="Accepted">Accepted</option>
                                        </select>
                                        <br><br>
                                        <input type="hidden" name="request_courseSubject" value="{{ request.courseSubject }}">
                                        <input type="hidden" name="request_courseNumber" value="{{ request.courseNumber }}">
                                        <input type="hidden" name="request_courseName" value="{{ request.courseName }}">
                                        <input type="hidden" name="request_University" value="{{ request.university }}">
                                        <input type="hidden" name="request.studentEmail" value="{{ request.studentEmail }}">
                                        <input type="hidden" name="request_id" value="{{ request.id }}">
                                        <input type="submit" value="Submit" class="w3-button w3-theme">
                                        <br>
                                        <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="w3-col m3">
            <h4 class="w3-center">Rejected</h4>
            {% for request in requests %}
                {% if request.status == "Rejected" %}
                    <div class="w3-card w3-container w3-margin w3-padding email-card email-card-container">
                        <h5 class="w3-bar-item w3-button w3-medium email-title" onclick="openModal('request-{{ request.id }}')">Request for: {{ request.courseSubject }} {{ request.courseNumber }} by {{ request.studentName }}</h5>
                        <div id="request-{{ request.id }}" class="w3-modal course-modal">
                            <div class="w3-modal-content w3-animate-top">
                                <header class="w3-container w3-theme">
                                    <span onclick="document.getElementById('request-{{ request.id }}').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h5>Course: {{ request.courseSubject }}, {{ request.courseNumber }}, {{ request.courseName }} from {{ request.studentName }}</h5>
                                </header>
                                <div class="w3-container">
                                    <p><b>University (Long, Short):</b> {{ request.university }}, {{ request.universityShort }}</p>
                                    <p><b>Course Subject: </b>{{ request.courseSubject }}</p>
                                    <p><b>Course Number: </b>{{ request.courseNumber }}</p>
                                    <p><b>Course Name: </b>{{ request.courseName }}</p>
                                    <p><b>Requestor Name: </b>{{ request.studentName }}</p>
                                    <p><b>Requestor Email: </b>{{ request.studentEmail }}</p>
                                    <p><b>Status:</b> {{ request.status }}</p>
                                    <form action="{% url 'pendingRequests' %}" method="GET">
                                        <label for="status">Change Status: </label>
                                        <select class="w3-button w3-theme w3-hover-black" name="status" id="status">
                                            <option value="Pending">Pending</option>
                                            <option value="Rejected">Rejected</option>
                                            <option value="Accepted">Accepted</option>
                                        </select>
                                        <br><br>
                                        <input type="hidden" name="request_courseSubject" value="{{ request.courseSubject }}">
                                        <input type="hidden" name="request_courseNumber" value="{{ request.courseNumber }}">
                                        <input type="hidden" name="request_courseName" value="{{ request.courseName }}">
                                        <input type="hidden" name="request_University" value="{{ request.university }}">
                                        <input type="hidden" name="request.studentEmail" value="{{ request.studentEmail }}">
                                        <input type="hidden" name="request_id" value="{{ request.id }}">
                                        <input type="submit" value="Submit" class="w3-button w3-theme">
                                        <br>
                                        <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% else %}
<script>
        window.onload = function() {
            setTimeout(function() {
                window.location.href = '/';
            }, 1); // Redirects after 1 millisecond
        };
    </script>
{% endif %}

<script>
  function openModal(modalId) {
    document.getElementById(modalId).style.display = "block";
  }

  var modals = document.getElementsByClassName("course-modal");

  for (var i = 0; i < modals.length; i++) {
    modals[i].addEventListener("click", function(event) {
      if (event.target.classList.contains("w3-modal")) {
        event.target.style.display = "none";
      }
    });
  }
</script>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>

{% endblock content %}